     body{
      background: blue;
    font-family: Helvetica;
    }
h1 {
color: pink;
text-align: center;
}
assign{
display: flex;
padding: 10px;
margin: 10px;
background: green;
}
assign img{
width: 200 px;
padding: 10px;
