/*Written by: Simion Cartis*/
#background-color {
  
}

#content {
  margin: auto;
  background: rgba(198, 90, 58, .45);
  width: 70%;
  height: 100%;
  padding: 2rem;
}

/*Structural*/
h1 {
  font-size: 5rem;
  text-align: center;
}

#colesseum-image {
  display: block;
  margin: auto;
}

h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0;
}

#bottom-section {
  display: flex;
  justify-content: space-around;
}

#table-id {
  width:fit-content;
  margin: auto;
  text-align: center;
  border-collapse: separate;
  border-spacing: 12px 5px;
}

/*typography*/
.headings {
  font-family: "Gideon Roman", serif;
}
body {
  background-image: url(./images/background.avif);
  margin: 0;
}


#text {
  font-family: "Tinos", serif;
  font-size: 1.5rem;
  margin: auto;
}