/*Written by: Simion Cartis*/


/*Structural*/
#content {
  margin: auto;
  background: rgba(198, 90, 58, .5);
  width: 70%;
  padding: 2rem;
}

h1 {
  font-size: 5.5rem;
  text-align: center;
  color: #1F3A5F;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

#colesseum-image {
  display: block;
  margin: auto;
  border: 5px solid #1F3A5F;
}

h2 {
  text-align: center;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
}

#bottom-section {
  display: flex;
  justify-content: space-around;
}

#some-guys-head-image {
  border: 5px solid #D4AF37;
}

#table-id {
  width:fit-content;
  margin: auto;
  text-align: center;
  border-collapse: separate;
  border: 5px solid #D4AF37;
  background-color: rgba(225, 200, 126, .4);
  border-spacing: 12px 5px;
}

/*typography*/
.headings {
  font-family: "Gideon Roman", serif;
}
body {
  background-image: url(./images/background.avif);
  margin: 0;
}

#text-div {
  font-family: "Tinos", serif;
  font-size: 1.5rem;
  font-weight: 450;
  margin: auto;
}