/*Structure*/

body {
  margin: 0;
}

body img {
  max-width: 100%;
  max-height: 100%;
}

/*Main header/main nav*/

#skip-button {
  position: absolute;
  top: 25px;
  left: 25px;
  border: none;
  background-color: #75000a;
  color: white;
  font-size: 15px;
  padding: 20px 30px 20px 30px;
  font-weight: 600;
}

#main-header {
  background: black;
}

#main-header-tools,
#main-header-div {
  padding: 5px 20% 0 20%;
}

#main-header ul {
  list-style: none;
  font-size: 11px;
  font-weight: 600;
}

#main-header-tools {
  align-items: center;
  padding-top: 1px;
}

#main-header-tools-ul {
  padding-left: 0;
  gap: 0;
}

#main-header-tools-ul li a,
#main-header-dropdown a,
#main-header-nav a {
  color: white;
  text-decoration: none;

}

#main-header-dropdown {
  gap: 10px;
}

#title-header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-size: 2.25rem;
  font-weight: 600;
}

.logo-div {
  display: flex;
}

.school-name-div {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.school-name-div p,
.school-name-div h3 {
  margin: 0;
  white-space: nowrap;
}

.school-name-div p {
  font-size: 18px;
  font-weight: 400;
}

.school-name-div h3 {
  font-size: 28px;
  font-weight: 600;
}

#top-right-search-div {
  display: none;
}

#dropdown-trigger:hover {
  cursor: pointer;
}

#dropdown-trigger:hover+#main-header-dropdown {
  display: flex;
}

#main-header-tools-ul>li:not(:last-child)::after {
  content: '|';
  color: white;
  padding-inline: 10px;
}

#main-header-dropdown {
  display: none;
}

#main-header-dropdown:hover {
  display: flex;
}

.dropdown-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown-flex ul {
  padding-left: 15px;
}

#main-header-nav {
  position: relative;
  width: 100%;
  background: #75000a;
}

#main-nav {
  width: fit-content;
  margin-left: auto;
  padding-right: 22%;
  padding-top: 10px;
  gap: 20px;
  color: white;
}

#main-nav button {
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: #75000a;
  font-size: 15px;
  font-weight: 600;
  color: white;
}

#hamburger-eyeglass-img {
  position: relative;
  top: -5px
}

/* connect section */

#connect-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EDEDED;
  width: 100%;
  margin-top: 50px;
  padding-bottom: 20px;
}

#connect-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
}

#connect-header h2 {
  color: #75000a;
  font-size: 4rem;
  font-weight: 1000;
  margin: 0;
}

#connect-header p {
  font-size: 18px;
  font-weight: 525;
}

#connect-body {
  display: flex;
  /* width: 100%;
  max-width: 1500px; */
  padding-inline: 40px;
  box-sizing: border-box;
  gap: 20px;
}

#connect-buttons-ul {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  list-style: none;
  gap: 40px;
}


#connect-buttons-ul button {
  font-size: 15px;
  color: white;
  background-color: #75000a;
  border: white 3px solid;
  padding: 15px 15px;
  font-weight: 700;
}

.connect-col {
  flex: 1 1 auto;
}

.connect-col:not(:last-child) {
  border-right: black 1px solid;
  padding-right: 20px;
}

#connect-body h3 {
  color: #75000a;
  font-size: 25px;
  margin: 0;
  padding-bottom: 20px;
}

#socials {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

#social-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
  margin: 0;
}

#connect-links {
  display: flex;
  flex-direction: row;
}

#socials button {
  color: white;
  font-weight: 700;
  background-color: black;
  border: white 3px solid;
  padding: 10px 15px;
  max-width: fit-content;
  max-height: fit-content;
}

#connect-links ul {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, auto);
  gap: 10px 75px;
  list-style: none;
  margin: 0;
  padding-left: 0;
  color: #75000a;
  font-size: 15px;
  font-weight: 600;
}

#connect-address {
  max-width: 210px;
  height: auto;
  font-style: normal;
}

#connect-address a {
  color: #75000a;
  font-weight: 600;
}

#connect-address p {
  margin: 0;
}

/*footer*/

#main-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-inline: 40px;
  box-sizing: border-box;
  background-color: #75000a;
  padding-bottom: 6%;
  margin-bottom: 1px;
}

#footer-header {
  display: flex;
  /* width: 100%;
  max-width: 1500px; */
  align-self: center;
  align-items: center;
  padding-top: 20px;
}

#school-name-div-footer {
  color: white;
}

#footer-socials {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-left: auto;
  list-style: none;
  gap: 10px;
}

#footer-socials img {
  border-radius: 20px;
}

#footer-columns {
  display: flex;
  flex-direction: row;
  /* width: 100%;
  max-width: 1500px; */
  align-self: center;
}

#footer-columns h4 {
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#footer-columns ul {
  list-style: none;
  color: white;
}

#footer-columns section:not(:last-child) {
  padding-right: 5%;
}

#colleges-and-schools-footer ul {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(6, auto);
  grid-auto-columns: max-content;
}

#officies-and-divisions-footer ul {
  display: grid;
  grid-auto-flow: row;
  grid-auto-flow: column;
  grid-template-rows: repeat(6, auto);
  grid-auto-columns: max-content;
}

#tools-footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#colleges-and-schools-footer ul,
#officies-and-divisions-footer ul,
#tools-footer ul {
  justify-content: start;
  margin: 0;
  padding: 10px 0 0 0;
  gap: 10px 50px;
  border-top: white 1px solid;
}

#bottom-footer {
  width: 100%;
  background-color: black;
  padding: 10px 40px 15px;
  box-sizing: border-box;
  margin: 0;
}

#bottom-footer-div {
  /* align-self: center; */
  margin-inline: auto;
}

#bottom-footer ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: white;
  margin: 0;
  padding: 0;
  gap: 0;
}

#bottom-footer ul>li:not(:last-child)::after {
  content: '|';
  color: white;
  padding-inline: 10px;
}

/*typography*/

.text {
  margin: 0;
}

.unorder-list {
  display: flex;
  flex-direction: row;
}

.one {
  flex: 1;
}

.two {
  flex: 2;
}

.width-alignment {
  width: 100%;
  max-width: 1500px;
}

/*Responsive Design*/

/*change header*/
@media (max-width: 1800px) {

  #skip-button {
    display: none;
  }

  #main-header-tools {
    padding-left: 2%;
  }

  #main-header-div {
    padding-left: 2%;
    padding-right: 2%;
  }

  #main-nav {
    padding-right: 3%;
  }
}

@media (1020px <=width <=1135px) {
  #socials {
    flex-direction: column;
  }

  #socials button {
    margin-left: 0;
    margin-bottom: 10px;
  }

  #social-ul {
    padding: 0;
  }
}

@media (max-width: 1022px) {

  #main-header-tools,
  #main-header-nav {
    display: none;
  }

  #title-header-div {
    flex-direction: column;
    align-items: start;
  }

  #title-text {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  #top-right-search-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 10px;
  }

  #connect-body {
    flex-direction: column;
  }

  #connect-body h3 {
    justify-self: center;
  }

  #socials {
    justify-content: center;
  }

  .connect-col:not(:last-child) {
    border-right: none;
    padding-right: 0;
    padding-bottom: 20px;
    border-bottom: black 1px solid;
  }

  #connect-links {
    justify-content: center;
  }

  #connect-links ul {
    grid-template-rows: repeat(2, auto);
  }

  #connect-address {
    max-width: none;
    text-align: center;
  }
}

@media (max-width: 850px) {
  #footer-header {
    flex-direction: column;
  }

  #footer-socials {
    margin-left: 0;
    padding-left: 0;
    padding-top: 40px;
  }

  #footer-columns {
    flex-direction: column;
  }

  #colleges-and-schools-footer ul {
    grid-template-rows: repeat(11, auto);
  }

  #officies-and-divisions-footer ul {
    grid-template-rows: repeat(6, auto);
  }

  #colleges-and-schools-footer ul,
  #officies-and-divisions-footer ul {
    column-gap: 100px;
  }
}