/* structure */
body {
  background-color: rgba(219, 177, 188, .25);
  max-width: 100%;
}

/* header */
#main-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-head h1 {
  font-size: 3.5rem;
  color: #8fc37d;
  margin-bottom: 20px;
}

#main-head h2 {
  font-size: 2rem;
  color: #6382d8;
  margin-top: 0;
}

/* main nav */

#main-nav i {
  display: none;
}

#main-nav ul {
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

#main-nav li {
  font-size: 18px;
  color: #8fc37d;
}

#main-nav li:hover {
  cursor: pointer;
}

#main-nav li:not(:last-child)::after {
  content: '|';
  margin-inline: 10px;
}

/* main sections */


/* styles and classes */

.display-flex {
  display: flex;
}

.main-section {
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 90%;
  color: #8fc37d;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

.display-none {
  display: none;
}

/* main footer */
#main-footer {
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: #8fc37d;
  margin-top: 10px;
}

/* responsive design */

@media(max-width: 600px) {

  #main-nav {
    width: 90%;
  }

  #main-nav i {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
  #main-nav i:hover {
    cursor: pointer;
  }

  #main-nav ul {
    flex-direction: column;
    margin-top: 10px;
  } 

  #main-nav li:not(:last-child)::after {
  content: '';
}

  /* responsive design for media query */
  .arrow-down {
     border-top: 12px solid #8fc37d;
  }
  .arrow-up {
    border-bottom: 12px solid #8fc37d;
  }
  .small-screen-display-none {
    display: none;
  }

}