/*Written by: Simion Cartis*/


/*Structural*/

#content {
  margin: auto;
  padding: 2rem;
  width: 70%;
  border-radius: 8px;
  background: rgba(130, 200, 229, .6);
}

header {
  text-align: center;
  font-family: "Martel", serif;
  color: rgb(234, 102, 14);
}

/*typography*/

h1 {
  font-size: 5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

h2 {
  font-family: "Martel", serif;
  text-align: center;
  font-size: 3.5rem;
  color: rgb(234, 102, 14);
}

p {
  font-family: "IBM Plex Sans Hebrew", sans-serif;
  font-size: 1.25rem;
}

#assignment-div {
  background: rgba(137, 137, 137, .5);
  border-radius: 8px;
  padding-block: .25rem;
}

#assignments-header {
  margin-block: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

#list-of-links {
  margin-bottom: 1rem;
  text-align: center;
  list-style-position: inside;
}

#list-of-links a {
  font-family: "IBM Plex Sans Hebrew", sans-serif;
  text-decoration: none;
  font-size: 1.25rem;
  color: rgb(255, 255, 240);
}